#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button:hover {
  border-color: #646cff;
}

.app {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.board,
.history {
  background-color: white;
  border: 1px solid white;
  width: 200px;
  height: 200px;
  padding: 15px;
}

.history {
  margin-left: auto;
  color: black
}

.history>h4 {
  margin: 0px;
  padding: 0px;
  /* margin-top: -10px; */
}

.sq {
  background-color: white;
  color: black;
  background: #fff;
  border: 1px solid #999;
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  width: 66px;
  height: 66px;
}

.players-container {
  display: flex;
  text-align: center;
}

.players-container>p {
  flex-direction: row;
  margin-left: 20px;
}

.history>p {
  margin-top: -30px;
  padding: 0px;
}