#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button:hover {
  border-color: #646cff;
}

.sq {
  background-color: white;
  color: black;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  width: 66px;
  height: 66px;
}


.board {
  background-color: white;
  border: 1px solid white;
  width: 200px;
  height: 200px;
  padding: 15px;
}