#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button:hover {
  border-color: #646cff;
}

.app {
  display: flex;
  flex-direction: row;
  width: 750px;
  height: 375px;
}

.board,
.history {
  background-color: gray;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  padding: 10px;
}

.history {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 36px;
  width: 450px;
  height: auto;
  color: white;
}

.history>h4 {
  margin: 0px;
  padding: 0px;
  margin-top: -5px;
  margin-bottom: 15px;
}

.sq {
  background-color: white;
  color: black;
  background: #fff;
  border: 1px solid #999;
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  width: 66px;
  height: 66px;
}

.players-container {
  display: flex;
  text-align: center;
  height: 100%;
}

.player {
  border: 1px solid black;
  width: 224px;
  background-color: white;
  color: black;
}

.player>p:nth-child(1) {
  margin: 15px 0 0 0;
}

.player>p:nth-child(2) {
  margin-top: -10px;
  padding: 0px;
}

form {
  width: auto;
  display: flex;
}

.name>label {
  margin-right: 5px;
}

#name {
  width: 115px;
}

form>p:nth-child(2) {
  margin-left: 30px;
}